/*
 * Application level styles
 * (things that dont make sense in a toolkit :)
 * copyright @colossal 2015
 */

/* docs overrides */
.highlight {
  background-color: #fff;
  border-color: #d3e0e9;
}


/* general overrides */
.list-group-item .glyphicon {
  line-height: 1.4;
}
.modal-header .close {
  margin-top: 4px;
}
strong {
  font-weight: bold;
}


/* navbar */
.app-navbar {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.app-navbar .form-control {
  box-shadow: none;
}
.app-navbar .navbar-brand img {
  width: 85px;
}
.app-navbar .navbar-collapse {
  max-height: inherit;
}
.app-navbar .navbar-collapse:after {
  height: 100vh;
}
.app-navbar .form-control {
  border-color: #1C73A5;
}
.app-navbar .app-notifications {
  margin-left: 1rem;
  padding-bottom: 4px !important;
  padding-top: 4px !important;
}
.app-notifications .icon:before {
  font-size: 20px;
}
.dropdown-social-links{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.dropdown-social-links li{
  flex: 1;
}

.dropdown-social-links .social-link{
  color: white;
  font-size: 35px;
}

.social-link{
  padding: unset;
  font-size: 27px;
  display: unset;
  margin: auto;
}

@media (min-width: 768px) {
  .app-navbar .navbar-collapse:after {
    height: auto;
  }
}
@media (max-width: 768px) {
  .app-search {
    margin-top: -1px;
  }
}


/* misc */
.app-login-form {
  max-width: 280px;
  margin-top: -60px;
}
.app-new-msg {
  margin-right: 10px;
}
.app-brand {
  width: 40%;
  display: inline-block;
}
.app-brand img {
  width: 100%;
}
#mood{
  height: 100px;
  width: 100px;
  overflow: hidden;
  margin: auto;
}
#mood ul{
  height: inherit;
  width: inherit;
  list-style: none;
  padding: unset;
}
#mood li{
  position: absolute;
  height: inherit;
  width: inherit;
  transition: 0.3s ease-in-out; 
}
#mood li span{
  line-height: unset; /*toolkist.css override*/
}

#mood li span img{
  transition: 0.3s ease-in-out;   
}
.visibel{
  width: 120px;
  height: 120px;} 

.hidden{
  width: 0px;
  height: 0px;
}
.final{
  color: #3097D1;
}

.peek-cover, .peek-cover-mobile{
  position: absolute;
  width: 100px;
  height: 100px;
  transition: 0.25s ease-out;
}

.peek-cover{
  top: -27px;
}

.peek-cover-mobile{
  top: 400px;
  left: -20px
}

.peek-cover:hover, .peek-cover-mobile:hover{
  cursor: pointer;
}

.peek-cover:hover{
  top: -57px;
}

.peek-cover-mobile:hover{
  left: -1px
}

.peek-cover img{
  width: inherit;
  height: inherit;
}

.peek-cover-mobile img{
  width: inherit;
  height: inherit;
}

@media (max-width: 550px){
  .peek-cover{
    display: none;
  }
}

@media (min-width: 550px){
  .peek-cover-mobile{
    display: none;
  }
}